!vendor/

vendor/*
!vendor/adminLTE-3.2.0/
!vendor/adminLTE-3.2.0/

vendor/adminLTE-3.2.0/*
!vendor/adminLTE-3.2.0/plugins
!vendor/adminLTE-3.2.0/dist

vendor/adminLTE-3.2.0/dist/img/*


vendor/adminLTE-3.2.0/plugins/*
!vendor/adminLTE-3.2.0/plugins/fontawesome-free
!vendor/adminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/
!vendor/adminLTE-3.2.0/plugins/icheck-bootstrap
!vendor/adminLTE-3.2.0/plugins/jqvmap
!vendor/adminLTE-3.2.0/plugins/overlayScrollbars
!vendor/adminLTE-3.2.0/plugins/daterangepicker
!vendor/adminLTE-3.2.0/plugins/summernote
!vendor/adminLTE-3.2.0/plugins/jquery-ui
!vendor/adminLTE-3.2.0/plugins/sparkline